.details-enter {
  max-height : 0;
  transition: max-height 0.4s ease-in;
}

.details-enter.details-enter-active {
  max-height : 500px;
}

.details-leave {
  max-height: 500px;
  transition: max-height 0.4s ease-in;
}

.details-leave.details-leave-active {
  max-height: 0;
}
