.harry {
  background-image: url('./sb-harry-min.jpg');
  background-color: #7b7b7b;
}

@media (min-width: 768px) {
  .harry {
    background-image: url('./sb-harry.jpg');
  }
}

.ufc {
  background-image: url('./sb-ufc-min.jpg');
  background-color: #7b7b7b;
}

@media (min-width: 768px) {
  .ufc {
    background-image: url('./sb-ufc.jpg');
  }
}

.main-banner {
  background-image: url('./sb-min.jpg');
  background-color: #7b7b7b;
}

@media (min-width: 768px) {
  .main-banner {
    background-image: url('./sb.jpg');
  }
}

.marvel {
  background-image: url('./sb-marvel-min.jpg');
  background-color: #7b7b7b;
}

@media (min-width: 768px) {
  .marvel {
    background-image: url('./sb-marvel.jpg');
  }
}


.main-banner-pixel {
  background-image: url('./pixel.png');
}
