.menu-enter {
  max-height : 0;
  transition: max-height 0.5s ease-in;
}

.menu-enter.menu-enter-active {
  max-height : 222px;
}

.menu-leave {
  max-height: 222px;
  transition: max-height 0.5s ease-in;
}

.menu-leave.menu-leave-active {
  max-height: 0;
}
