body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('./fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Medium';
  src: url('./fonts/Lato-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Light';
  src: url('./fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-SemiBold';
  src: url('./fonts/Lato-SemiBold.ttf') format('truetype');
}
